<h1>Angular Router Sample</h1>
<router-outlet></router-outlet>
<!-- Use an Angular directive, routerLink.
This directive connects the routes defined to the template files. -->

<nav>
  <!-- The routerLinkActive directive informs the application
     to apply a specific CSS class to the active route. -->
  <a class="button"
     routerLink="/crisis-list"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Crisis Center
  </a>
  <!-- routerLinkActive makes sure that visually impaired users
  can identify the active button. -->
  <a class="button"
     routerLink="/heroes-list"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Heroes
  </a>
</nav>
